body {
  background: #ffdead;
  font-family: 'Tinos', serif;
  font-size: 1.5em;
  text-align: center;
  color: #000000;
}

h1 {
  font-weight: 200;
  font-size: 2.2em;
}

.button1 {background-color: #ffdead;} /* Navajo white */
.button2 {background-color: pink}
.button3 {background-color: orange}
.button4 {background-color: skyblue;}
.button5 {background-color: #686868;}

div {
  width:445px;
  margin: auto;
}

.six {
  width: 445px;
  margin: auto;
  align-items: center;
}

.eight {
  width: 600px;
  margin: auto;
  align-items: center;
}

.ten {
  width: 800px;
  margin: auto;
  align-items: center;
}

[data-view="card"] {
  transform: rotateY(180deg);
  width: 72px;
  height: 72px;
  margin: 1px;
  float: left;
  cursor: pointer;
  background: url("./img/0.png") left center no-repeat;
  background-color: bisque;
  background-size: contain;
  border-radius: 5px;
}

.flipped {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(0deg);
}

.reverse {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
}

.correct {
  transition: 0.8s;
  opacity: 0;
  cursor: default;
  transform-style: preserve-3d;
  position: relative;

}

/* Cards */
.correct[data-item="1"],
.flipped[data-item="1"] {
  background: url("./img/1.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="2"],
.flipped[data-item="2"] {
  background: url("./img/2.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="3"],
.flipped[data-item="3"] {
  background: url("./img/3.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="4"],
.flipped[data-item="4"] {
  background: url("./img/4.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="5"],
.flipped[data-item="5"] {
  background: url("./img/5.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="6"],
.flipped[data-item="6"] {
  background: url("./img/6.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="7"],
.flipped[data-item="7"] {
  background: url("./img/7.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="8"],
.flipped[data-item="8"] {
  background: url("./img/8.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="9"],
.flipped[data-item="9"] {
  background: url("./img/9.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="10"],
.flipped[data-item="10"] {
  background: url("./img/10.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="11"],
.flipped[data-item="11"] {
  background: url("./img/11.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="12"],
.flipped[data-item="12"] {
  background: url("./img/12.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="13"],
.flipped[data-item="13"] {
  background: url("./img/13.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="14"],
.flipped[data-item="14"] {
  background: url("./img/14.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="15"],
.flipped[data-item="15"] {
  background: url("./img/15.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="16"],
.flipped[data-item="16"] {
  background: url("./img/16.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="17"],
.flipped[data-item="17"] {
  background: url("./img/17.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="18"],
.flipped[data-item="18"] {
  background: url("./img/18.png") left center no-repeat;
  background-size: contain;
}

