*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/background\ red.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #000000;
}

h1 {
  font-size: 40px;
  padding: 20px;
  color: #4f0000;
}

.game-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-menu__title {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  color: #4f0000;
}

.game-menu__difficult-btn,
.restart-btn {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-color: #4f0000;
  background: transparent;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.game-menu__difficult-btn:not(:last-child) {
  margin-bottom: 10px;
}

.game-menu__difficult-btn,
.restart-btn {
  padding: 15px 20px;
  background-color: #ffffff61;
  border-radius: 20%;
  color: #4f0000;
}

.game-menu__difficult-btn:hover {
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  background-color: #222;
  color: #fff;
}

.game-table {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  grid-auto-flow: column;
  padding: 50px;
  gap: 10px;
}


[data-view="card"] {
  transform: rotateY(180deg);
  width: 72px;
  height: 72px;
  margin: 1px;
  float: left;
  cursor: pointer;
  background: url("./img/0.png") left center no-repeat;
  background-color: bisque;
  background-size: contain;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(145 2 2 / 50%);
}

.flipped {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(0deg);
  box-shadow: none;
}

.reverse {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
}

.correct {
  transition: 0.8s;
  opacity: 0;
  cursor: default;
  transform-style: preserve-3d;
  position: relative;

}

/* Cards */
.correct[data-item="1"],
.flipped[data-item="1"] {
  background: url("./img/1.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="2"],
.flipped[data-item="2"] {
  background: url("./img/2.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="3"],
.flipped[data-item="3"] {
  background: url("./img/3.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="4"],
.flipped[data-item="4"] {
  background: url("./img/4.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="5"],
.flipped[data-item="5"] {
  background: url("./img/5.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="6"],
.flipped[data-item="6"] {
  background: url("./img/6.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="7"],
.flipped[data-item="7"] {
  background: url("./img/7.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="8"],
.flipped[data-item="8"] {
  background: url("./img/8.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="9"],
.flipped[data-item="9"] {
  background: url("./img/9.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="10"],
.flipped[data-item="10"] {
  background: url("./img/10.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="11"],
.flipped[data-item="11"] {
  background: url("./img/11.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="12"],
.flipped[data-item="12"] {
  background: url("./img/12.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="13"],
.flipped[data-item="13"] {
  background: url("./img/13.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="14"],
.flipped[data-item="14"] {
  background: url("./img/14.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="15"],
.flipped[data-item="15"] {
  background: url("./img/15.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="16"],
.flipped[data-item="16"] {
  background: url("./img/16.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="17"],
.flipped[data-item="17"] {
  background: url("./img/17.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="18"],
.flipped[data-item="18"] {
  background: url("./img/18.png") left center no-repeat;
  background-size: contain;
}

